

<br />
<br />


<h1 class="text-center"> Welcome to my Quiz 2 Web App </h1>

<div class="text-center">
  <%= link_to 'Add Property', new_property_path %>
</div>

<br />
<br />

<!-- <div class="row">
  <div class="col-10 offset-1">
    <h1><%= @properties.inspect %></h1>
  </div>
</div> -->

<br />
<br />

<div class="row">
  <div class="col-10 offset-1">
    <% @properties.each do |property| %>
      <div>
        <p><%= property.premise + " " + property.street %></p>
        <p><%= property.name %></p>
        <p><%= "Square " + property.square.to_s %>
           <%= + "Lot " +property.lot.to_s %></p>
      </div>

      <hr />
    <% end %>
  </div>
</div>