<h1 class="text-center"> Add a property </h1>

<% if false %>
  <%= form_with scope: :property, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>

<div class="row">
  <div class="col-10 offset-1">
    <%= simple_form_for @property do |f| %>
      <%= f.input :premise %>
      <%= f.input :street %>
      <%= f.input :aka %>
      <%= f.input :name %>
      <%= f.input :square %>
      <%= f.input :suffix %>
      <%= f.input :lot %>
      <%= f.submit 'Add!', class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>